.color-change {

  $starter: #fff;

                  h1 {
                    color: rgba(0, 0, 0, 0);

                    @media (min-width:768px) {
                        color: darken( $starter, 60% );
                    }

                    @media (min-width: 992px) {
                        color: darken( $starter, 30% );
                    }

                    @media (min-width: 1200px) {
                        color: ( $starter );
                    }
                  }

                 i {
                    color: $starter; 

                    @media (min-width:768px) {
                        color: darken( $starter, 30% );
                    }

                    @media (min-width: 992px) {
                        color: darken( $starter, 60% );
                    }

                    @media (min-width: 1200px) {
                        color: rgba(0, 0, 0, 0);
                    }
                }

}