html, body {
   height: 100%;
}

@mixin fadeText ($text-color, $direction: top, $offset : 2em, $transition: 0.5s ease-out) {  
  
  $color: #000;
  $deg: 180deg;
  $pos: bottom;

		mix-blend-mode: screen;
	 
  	
  	position: relative;

  	&::after {
    background: linear-gradient($deg, transparent, $color $offset) no-repeat $pos center / 100% 100%;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: $transition;
  }
  
  &:hover::after {
      background-size: 100% 0%;
  }
}

p {
  color: #fff;
  @supports(mix-blend-mode: screen){
     @include fadeText(light, top, 3rem);
  } 
}

.wrapper {
  background: #222 url(https://www.nasa.gov/sites/default/files/thumbnails/image/p1639ay-goodss-160930.jpg) 50% 50% / cover;
  display: flex;
  align-items: center;
  font: 18px/1.5 'Futura', sans-serif;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  
}

.content {
  color: #fff;
  max-width: 600px;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.fa {
  font-size: 50px !important;
  position: absolute;
}

.fa-arrow-circle-left {
    left: 50px;
  }
  .fa-arrow-circle-right {
    right: 50px;
  }

@import "color-change";
